h2, .navbar-brand {
  font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
}

body{
  background-size:100% 100%;
  font-family:"Open Sans", sans-serif;
}
